.header--bg {
    height: 150px;
    width: 100%;
    background-image: url("../img/photo-utfilepr.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: -60em;
    background-size: auto;
}
.h1__em--color {
    font-style: normal;
    color: #ffcc00;
}
.filter button {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}
.filter button:hover {
    border-bottom: 1px solid #ffcc00;
}
h1 {
    font-size: 40px;
    font-family: sans-serif;
    padding: 126px;
}
.post__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.popular-download {
    height: 140px;
}
.modal-periodo {
    background-color: rgb(30, 30, 30);
}
.modal-periodo__input {
    background-color: rgb(20, 20, 20);
    color: white;
}
.modal-periodo__input:focus {
    background-color: rgb(20, 20, 20);
    color: white;
}
th {
    position: sticky;
    top: 0;
}
.bg-default {
    background-color: #112335;
}
.btn--animation:active {
}
